<!DOCTYPE html>
<html>
	<head>
		<title>???</title>
	</head>
	<body>
		<p>
		Somehow, perhaps by using your trusty Space-Time Vortex<br/> 
		Manipulator	that you keep on your wrist at all times, <br/>
		you find your way into this	room.
		</p>
		<p>
		It's a small janitorial closet. In it you find twelve sticks<br/> 
		of dynamite and a corroded green key. You figure to yourself the<br/>
		key will be more useful to you, so you pick it up and drop it in<br/>
		your trenchcoat pocket
		</p>
		<p>
		Too bad you didn't use your Vortex Manipulator to get you out<br/>
		of this place. You only had enough energy to make one trip, and<br/>
		the only place you can go now is back where you came from.
		</p>
	</body>
</html>