<!DOCTYPE html>
<html>
	<head>
		<title>A Velvet Furnished Lobby</title>
	</head>
	<body>
		<p>You arrive in the bluest room you've ever seen.</p>
		<p><i>Wellllllcommee.</i></p>
		<p><i>
		So you thought it would be that easy? HA!<br/>
		I regret to inform you that you're still in my maze, little</br>
		Theseus. Don't think you can out-wit me!
		</i></p>
		<p>You notice a large door across the way. It reads, "NOT AN EXIT."</p>
		<p><i>
		I see you eyeing that door over there. Don't bother trying to open it.<br/>
		That one is has a deadlock on it. It is impossible to break it open with force.<br/>
		And there was only one key, which I lost! You'll never find it!
		</i></p>
		<p>
		You wander over to the door and jiggle the knob. The door is indeed locked this time.<br/>
		Short of going back into the other room, there aren't any other doors to enter.</br>
		</p>
		<p>
		Although you do think to yourself that if the Warden lost the only key, wouldn't that mean<br/>
		he's trapped too? Something tells you he's not the kind of guy to openly admit to that. Your time<br/>
		is better spent finding that key.
		</p>
		
		<br/>
		
		<form method="POST" action="/maze/lobby">
			<input type="submit" value="Attempt to open door">
		</form>
	</body>
<html>